<header>
  <div class="containe__menu">
    <div class="logo">
      <img src="" alt="" />
    </div>
    <div class="menu">
      <ul>
        <li><a href="#" id="selected">INICIO</a></li>
        <li><a href="#"id="selected">SERVICIOS</a></li>
        <li><a href="#"id="selected">CONTACTO</a></li>
      </ul>
    </div>
  </div>
</header>

<main>
  <div class="container__cover">
    <div class="cover">
      <div class="text">
        <h1>
          La importancia de buscar soluciones a tiempo en tu empresa 2 minutos
          de lectura ¿Qué es una solución emergente?
        </h1>
        <p>
          Hablamos de la identificación de algunos cabos sueltos o debilidades,
          como la manera de comunicarse, de gestionar los comités, de gestionar
          los riesgos y el cumplimiento, de evaluar el desempeño, etc. El
          principal reto con el que se encuentran las organizaciones en la
          actualidad es el de la disrupción tecnológica. ¿Están preparadas para
          hacerle frente? En una época en la que este paradigma lo controla
          todo, la mejor opción para alcanzar tus metas consiste en mejorar la
          productividad de las personas aportando soluciones colaborativas.
        </p>
        <input type="button" value="leer más">

      </div>

    <div class="svg">
<img src="/assets/dino.png" alt="">


    </div>

    </div>
  </div>
</main>
